.attribution {
  position: absolute;
  bottom: 2%;

  font-size: 1.1rem;
  text-align: center;
  letter-spacing: 0.2em;
}

.attribution.attribution--dark {
  color: white;
}

.attribution {
  .attribution__link {
    color: #595959;
  }
  .attribution__link--dark {
    color: hsl(var(--clr-white) / 0.9);
  }
}

.attribution a:hover {
  color: hsl(216, 95%, 58%);
}

.attribution__designer,
.attribution__programmer {
  font-size: 1.2rem;
  margin-top: 0.5em;
}

.tech {
  display: inline-block;
}
