.qr {
  background-color: hsl(var(--clr-white));
  padding: 1em;
  width: calc(100% - 4.5rem);

  box-shadow: 0px 3px 10px -2px hsla(0, 0%, 0%, 0.48);
  border-radius: 2rem;

  cursor: pointer;
  position: relative;

  &::after {
    content: "";
    border-radius: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    box-shadow: 0px 4px 15px -4px hsla(0, 0%, 0%, 0.2);
    opacity: 0;

    transition: all 100ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  &:hover::after {
    opacity: 1;
  }

  .qr__image {
    border-radius: 1rem;
  }
  .qr__title {
    text-align: center;
    max-width: 18ch;

    font-size: 2rem;

    padding-block: 0.9em;
    margin-inline: auto;

    color: hsl(var(--clr-dark-blue));
    font-weight: 700;
  }

  .qr__text {
    max-width: 25ch;
    text-align: center;
    margin-inline: auto;

    color: hsl(var(--clr-grayish-blue));
    padding-block-end: 2em;
  }
}

.qr--dark {
  background-color: hsl(var(--dark-mode-card));
  .qr__title--dark {
    color: hsl(var(--dark-mode-card-title));
  }
  .qr__text--dark {
    color: hsl(var(--dark-mode-card-text));
  }
}
